body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}

.form input{
    display: block;
    margin-top: 10px;
    border: gray solid 1px;
}

.form label{
    display: block;
    margin-top: 10px;
    color: black;
}
