.productCard {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card{
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.viewDescription{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.64);
    font-weight: bold;
}
.viewDescription:hover {
    text-decoration: none;
}

.viewDescription b {
    color: blue;
}

button{
    background-color: #0000ed;
    color: white;
    border: none;
    padding: 10px;
}
.viewProduct{
    text-decoration: none;
    color: white;
}

.return {
    color:white;
    text-decoration: none;
}

.singleCard{
    width: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.singleCard:hover {
    transform: scale(1.05);
}

.singleCard img {
    width: 100%;
    height: auto;
}